body {
    font-size: 14px !important;
}

.d_row .command ._command {
    font-size: 13px;
}

.d_row .command ._params {
    color: green;
    font-size: 12px;
}

.d_row .command .bt-btn {
    color: #0d8ddb;
    font-size: 11px;
    padding-left: 20px;
    cursor: pointer;
}

.d_row .command .bt-btn:hover {
    text-decoration: underline;
}

.d_row .backtrace_row {
    background: rgb(240, 240, 240);
    padding: 5px;
    font-size: 12px;
}

.d_row .backtrace_row ul {
    padding: 0;
    list-style: none;
}

.d_row .backtrace_row ul li .missing {
    color: orange;
}

.d_row .backtrace_row ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
